<h1>Order: <%= @order.id %></h1>

<h3>Order Details</h3>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.name %></td>
        <td><%= order_item.quantity %></td>
        <td><%= number_to_currency(order_item.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
