<h1>Products</h1>

<%= link_to 'New Product', new_product_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Assignment Type</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.product_assignments.find_by(location: current_location)&.assignment_type || 'N/A' %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
