<!DOCTYPE html>
<html>
  <head>
    <title>POSPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <ul>
      <li><%= link_to 'Dashboard', root_url %></li>
      <li><a href="#news">News</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Structures</a>
        <div class="dropdown-content">
          <%= link_to 'Organisations', organisations_url %>
          <%= link_to 'Groups', groups_url %>
          <%= link_to 'Locations', locations_url %>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Memberships</a>
        <div class="dropdown-content">
          <%= link_to 'Memberships Dashboard', memberships_dashboard_url %>
          <%= link_to 'Blank', memberships_url %>
          <%= link_to 'Blank', memberships_url %>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">POS</a>
        <div class="dropdown-content">
          <%= link_to 'Products', products_url %>
          <%= link_to 'Carts', cart_path(current_cart) %>
          <%= link_to 'Orders', orders_url %>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Switch Location</a>
        <div class="dropdown-content">
          <p>Current Location: <%= current_location.name %></p>
          <% if current_user && current_user.locations.any? %>
            <div>
              <%= form_with url: switch_location_path, method: :post do |form| %>
                <%= form.collection_select :location_id, current_user.locations, :id, :name, {prompt: true}, { selected: current_location.try(:id), onchange: 'this.form.submit()' } %>

              <% end %>
            </div>
          <% end %>
        </div>
      </li>
    </ul>
  </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.email %></p>
      <%= link_to "Edit profile", edit_user_registration_path %><br>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %><br>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </body>
</html>
